# Analysis Of Ecommerce Data

## The primary goal of this project is to perform an advanced data-driven analysis of e-commerce transaction data to uncover meaningful business insights, customer behaviors, and purchasing patterns. By leveraging key metrics such as Recency, Frequency, and Monetary value (RFM), purchase categories, and customer demographics, this analysis aims to:


### Segment customers based on their shopping behavior and spending patterns.

### Identify high-value, mid-value, and low-value customer groups using RFM scoring.

### Evaluate category-wise performance in terms of purchase frequency, revenue, and demographic preferences.

### Estimate customer lifetime value (CLV) to identify long-term valuable customers.

### Detect inactive customers and measure the average purchase intervals to understand retention challenges.

### Track sales trends over time to assess revenue growth patterns.

### Identify key purchasing behaviors based on gender, age, and product categories.

### Why This Matters: This insight will help e-commerce businesses:

### Optimize marketing strategies for different customer segments.

### Tailor promotional campaigns based on customer loyalty and value.

### Improve inventory and category management based on purchasing trends.

### Focus on customer retention by identifying inactivity early.

### Boost profitability by targeting the highest-value customers.

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('Eccomerce_Data.csv')
data

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Évry,Gardening & Outdoors,$333.80,...,7,NaN,Tablet,Credit Card,3/1/2024,True,False,Need-based,No Preference,2
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,$222.22,...,5,High,Tablet,PayPal,4/16/2024,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,$426.22,...,7,Low,Smartphone,Debit Card,3/15/2024,True,True,Impulsive,No Preference,3
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwilí,Home Appliances,$101.31,...,1,NaN,Smartphone,Other,10/4/2024,True,True,Need-based,Express,10
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,$211.70,...,10,NaN,Smartphone,Debit Card,1/30/2024,False,False,Wants-based,No Preference,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,20-562-2569,44,Female,High,Divorced,Bachelor's,High,Aramayuan,Mobile Accessories,$463.67,...,4,NaN,Tablet,PayPal,7/7/2024,True,False,Need-based,Standard,5
996,41-366-4205,50,Female,High,Single,High School,Middle,Paquera,Gardening & Outdoors,$69.78,...,6,Low,Tablet,Cash,3/28/2024,True,False,Wants-based,No Preference,9
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Warudoyong,Food & Beverages,$453.37,...,6,High,Desktop,Credit Card,3/11/2024,True,True,Wants-based,Express,9
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Béziers,Baby Products,$106.15,...,5,Medium,Desktop,Cash,3/30/2024,True,True,Impulsive,Standard,8
999,48-203-9118,21,Female,Middle,Single,High School,High,Dongzhou,Health Care,$378.47,...,10,Low,Tablet,Other,12/8/2024,False,False,Planned,Express,2

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Customer_ID                            1000 non-null   object
 1   Age                                    1000 non-null   int64
 2   Gender                                 1000 non-null   object
 3   Income_Level                           1000 non-null   object
 4   Marital_Status                         1000 non-null   object
 5   Education_Level                        1000 non-null   object
 6   Occupation                             1000 non-null   object
 7   Location                               1000 non-null   object
 8   Purchase_Category                      1000 non-null   object
 9   Purchase_Amount                        1000 non-null   object
 10  Frequency_of_Purchase                  1000 non-null   int64
 11  Purchase_Channel                       1000 non-null   object
 12  Brand_Loyalty                          1000 non-null   int64
 13  Product_Rating                         1000 non-null   int64
 14  Time_Spent_on_Product_Research(hours)  1000 non-null   float64
 15  Social_Media_Influence                 753 non-null    object
 16  Discount_Sensitivity                   1000 non-null   object
 17  Return_Rate                            1000 non-null   int64
 18  Customer_Satisfaction                  1000 non-null   int64
 19  Engagement_with_Ads                    744 non-null    object
 20  Device_Used_for_Shopping               1000 non-null   object
 21  Payment_Method                         1000 non-null   object
 22  Time_of_Purchase                       1000 non-null   object
 23  Discount_Used                          1000 non-null   bool
 24  Customer_Loyalty_Program_Member        1000 non-null   bool
 25  Purchase_Intent                        1000 non-null   object
 26  Shipping_Preference                    1000 non-null   object
 27  Time_to_Decision                       1000 non-null   int64
dtypes: bool(2), float64(1), int64(7), object(18)
memory usage: 205.2+ KB

# Data Cleaning & Preprocessing

#  Fix data types, handle missing values, clean up columns.

In [10]:
# Remove '$' from 'Purchase_Amount' and convert to float
data['Purchase_Amount'] = data['Purchase_Amount'].replace('[\$,]', '', regex=True).astype(float)

# Convert 'Time_of_Purchase' to datetime
data['Time_of_Purchase'] = pd.to_datetime(data['Time_of_Purchase'])

# Check for missing values
print(data.isnull().sum())

Customer_ID                                0
Age                                        0
Gender                                     0
Income_Level                               0
Marital_Status                             0
Education_Level                            0
Occupation                                 0
Location                                   0
Purchase_Category                          0
Purchase_Amount                            0
Frequency_of_Purchase                      0
Purchase_Channel                           0
Brand_Loyalty                              0
Product_Rating                             0
Time_Spent_on_Product_Research(hours)      0
Social_Media_Influence                   247
Discount_Sensitivity                       0
Return_Rate                                0
Customer_Satisfaction                      0
Engagement_with_Ads                      256
Device_Used_for_Shopping                   0
Payment_Method                             0
Time_of_Purchase                           0
Discount_Used                              0
Customer_Loyalty_Program_Member            0
Purchase_Intent                            0
Shipping_Preference                        0
Time_to_Decision                           0
dtype: int64

# Check the structure, data types, shape in categorical columns.

In [14]:
# Check data types and shape
print(data.dtypes)
print("Shape of dataset:", data.shape)

Customer_ID                                      object
Age                                               int64
Gender                                           object
Income_Level                                     object
Marital_Status                                   object
Education_Level                                  object
Occupation                                       object
Location                                         object
Purchase_Category                                object
Purchase_Amount                                 float64
Frequency_of_Purchase                             int64
Purchase_Channel                                 object
Brand_Loyalty                                     int64
Product_Rating                                    int64
Time_Spent_on_Product_Research(hours)           float64
Social_Media_Influence                           object
Discount_Sensitivity                             object
Return_Rate                                       int64
Customer_Satisfaction                             int64
Engagement_with_Ads                              object
Device_Used_for_Shopping                         object
Payment_Method                                   object
Time_of_Purchase                         datetime64[ns]
Discount_Used                                      bool
Customer_Loyalty_Program_Member                    bool
Purchase_Intent                                  object
Shipping_Preference                              object
Time_to_Decision                                  int64
Recency                                           int64
dtype: object
Shape of dataset: (1000, 29)

# Segment customers by:

Recency: Days since their last purchase

Frequency: Number of purchases

Monetary: Total spend

In [12]:
# Calculate Recency
current_date = data['Time_of_Purchase'].max() + pd.Timedelta(days=1)
data['Recency'] = (current_date - data['Time_of_Purchase']).dt.days

# Calculate Frequency per Customer
frequency = data.groupby('Customer_ID').size().reset_index(name='Frequency')

# Calculate Monetary value per Customer
monetary = data.groupby('Customer_ID')['Purchase_Amount'].sum().reset_index(name='Monetary')

# Merge RFM values
rfm = data[['Customer_ID', 'Recency']].drop_duplicates().merge(frequency, on='Customer_ID').merge(monetary, on='Customer_ID')

# View RFM table
print(rfm.head())

   Customer_ID  Recency  Frequency  Monetary
0  37-611-6911      305          1    333.80
1  29-392-9296      259          1    222.22
2  84-649-5117      291          1    426.22
3  48-980-6078       88          1    101.31
4  91-170-9072      336          1    211.70

# Aggregate total purchase amounts over time (monthly) to observe overall sales trends.

In [13]:
# Calculate total sales per month
sales_over_time = data.groupby(data['Time_of_Purchase'].dt.to_period('M'))['Purchase_Amount'].sum()

# View sales over time
print(sales_over_time)

Time_of_Purchase
2024-01    19089.22
2024-02    20294.28
2024-03    27409.79
2024-04    28617.22
2024-05    18658.99
2024-06    25253.23
2024-07    25260.62
2024-08    27473.39
2024-09    24054.76
2024-10    19492.38
2024-11    21602.54
2024-12    17857.46
Freq: M, Name: Purchase_Amount, dtype: float64

# Extract important business insights such as total customers, average purchase, popular category, and top customer.

In [15]:
# Number of unique customers
print("Total unique customers:", data['Customer_ID'].nunique())

# Average purchase amount
print("Average purchase amount: $", round(data['Purchase_Amount'].mean(), 2))

# Most popular purchase category
print("Most popular purchase category:", data['Purchase_Category'].mode()[0])

# Highest spending customer
highest_customer = monetary.loc[monetary['Monetary'].idxmax()]['Customer_ID']
print("Highest spending customer:", highest_customer)

Total unique customers: 1000
Average purchase amount: $ 275.06
Most popular purchase category: Electronics
Highest spending customer: 60-470-3563

# Identify which product categories are the most popular for each gender.

In [16]:
# Group by Gender and Purchase_Category and count purchases
category_by_gender = data.groupby(['Gender', 'Purchase_Category']).size().reset_index(name='Total_Purchases')

# Sort by number of purchases
category_by_gender_sorted = category_by_gender.sort_values(['Gender', 'Total_Purchases'], ascending=[True, False])

# View result
print(category_by_gender_sorted)

         Gender  Purchase_Category  Total_Purchases
6       Agender    Home Appliances                5
8       Agender          Packages)                4
4       Agender          Groceries                2
0       Agender        Animal Feed                1
1       Agender      Arts & Crafts                1
..          ...                ...              ...
116  Polygender    Office Supplies                1
117  Polygender          Packages)                1
118  Polygender    Software & Apps                1
119  Polygender  Sports & Outdoors                1
120  Polygender       Toys & Games                1

[122 rows x 3 columns]

# Find the average amount spent per purchase category.

In [17]:
# Group by category and calculate average purchase amount
avg_spend_category = data.groupby('Purchase_Category')['Purchase_Amount'].mean().reset_index(name='Average_Spend')

# View average spend per category
print(avg_spend_category)

            Purchase_Category  Average_Spend
0                 Animal Feed     260.615909
1               Arts & Crafts     221.468235
2               Baby Products     272.500488
3      Beauty & Personal Care     233.676765
4                       Books     300.613243
5                    Clothing     280.034667
6                 Electronics     256.340926
7            Food & Beverages     294.703636
8                   Furniture     250.787561
9        Gardening & Outdoors     267.779091
10                  Groceries     279.698780
11                Health Care     296.317805
12         Health Supplements     266.056341
13            Home Appliances     263.836400
14                     Hotels     245.971667
15      Jewelry & Accessories     302.787200
16               Luxury Goods     276.945946
17         Mobile Accessories     285.101951
18            Office Supplies     285.131842
19                  Packages)     296.073488
20            Software & Apps     316.311860
21          Sports & Outdoors     286.480588
22               Toys & Games     288.009787
23  Travel & Leisure (Flights     252.362632

# List the top 10 customers based on total spending.

In [18]:
# Sort monetary values in descending order
top_customers = monetary.sort_values('Monetary', ascending=False).head(10)

# View top 10 highest spending customers
print(top_customers)

     Customer_ID  Monetary
593  60-470-3563    498.33
132  13-848-5757    498.23
150  15-663-7994    497.80
869  86-257-9581    497.76
146  15-421-1255    497.75
716  72-830-1211    496.11
858  85-467-6564    495.95
713  72-590-6161    495.80
684  69-394-1424    494.97
585  59-261-4453    494.81

# Retrieve the latest 10 purchases to check recent activity.

In [19]:
# Sort data by Time_of_Purchase in descending order
recent_purchases = data.sort_values('Time_of_Purchase', ascending=False).head(10)

# View recent purchases
print(recent_purchases)

     Customer_ID  Age   Gender Income_Level Marital_Status Education_Level  \
294  10-328-5732   44   Female         High         Single     High School
542  87-056-8987   49  Agender         High        Widowed     High School
877  96-140-1936   30     Male       Middle        Married      Bachelor's
867  51-415-1931   42   Female         High       Divorced     High School
11   78-116-8349   38   Female         High        Widowed      Bachelor's
112  74-431-0242   41   Female       Middle        Widowed      Bachelor's
831  51-546-9992   33     Male         High        Widowed        Master's
960  26-150-0209   28     Male       Middle        Widowed     High School
331  79-973-7862   47   Female       Middle        Married        Master's
956  09-332-0236   47   Female       Middle       Divorced        Master's

    Occupation      Location   Purchase_Category  Purchase_Amount  ...  \
294     Middle        Kliteh  Health Supplements           311.90  ...
542     Middle   Negeriagung           Groceries           491.92  ...
877     Middle         Baihe        Luxury Goods           477.35  ...
867       High     Kościelec         Electronics            75.27  ...
11      Middle          Győr   Sports & Outdoors           238.93  ...
112       High   Point Pedro         Health Care           250.54  ...
831     Middle        Cimara              Hotels           181.10  ...
960     Middle     Taiyigong            Clothing            82.37  ...
331     Middle  Mount Ayliff         Animal Feed           105.29  ...
956     Middle    San Marcos       Baby Products            51.86  ...

     Engagement_with_Ads Device_Used_for_Shopping  Payment_Method  \
294                 High               Smartphone     Credit Card
542                  Low                  Desktop     Credit Card
877                  Low                  Desktop          PayPal
867                  NaN                  Desktop          PayPal
11                  High                   Tablet            Cash
112                  NaN                  Desktop     Credit Card
831                  Low                   Tablet     Credit Card
960               Medium               Smartphone     Credit Card
331                 High                  Desktop            Cash
956                 High                   Tablet     Credit Card

     Time_of_Purchase  Discount_Used Customer_Loyalty_Program_Member  \
294        2024-12-30          False                            True
542        2024-12-29          False                           False
877        2024-12-28          False                           False
867        2024-12-27           True                            True
11         2024-12-27           True                           False
112        2024-12-27          False                           False
831        2024-12-26          False                           False
960        2024-12-25          False                           False
331        2024-12-25          False                            True
956        2024-12-25          False                            True

    Purchase_Intent  Shipping_Preference  Time_to_Decision Recency
294         Planned        No Preference                 2       1
542     Wants-based             Standard                 2       2
877      Need-based        No Preference                14       3
867       Impulsive              Express                 1       4
11          Planned        No Preference                 1       4
112     Wants-based        No Preference                 3       4
831       Impulsive        No Preference                 5       5
960       Impulsive             Standard                 2       6
331      Need-based              Express                 4       6
956      Need-based        No Preference                 6       6

[10 rows x 29 columns]

# approximate a simple Customer Lifetime Value using:

CLV = Average Purchase × Purchase Frequency

In [20]:
# Average purchase value per customer
average_purchase = data.groupby('Customer_ID')['Purchase_Amount'].mean().reset_index(name='Avg_Purchase_Value')

# Merge with frequency
clv = average_purchase.merge(frequency, on='Customer_ID')

# Estimate CLV
clv['CLV_Estimate'] = clv['Avg_Purchase_Value'] * clv['Frequency']

# View CLV estimates
print(clv.sort_values('CLV_Estimate', ascending=False).head(10))

     Customer_ID  Avg_Purchase_Value  Frequency  CLV_Estimate
593  60-470-3563              498.33          1        498.33
132  13-848-5757              498.23          1        498.23
150  15-663-7994              497.80          1        497.80
869  86-257-9581              497.76          1        497.76
146  15-421-1255              497.75          1        497.75
716  72-830-1211              496.11          1        496.11
858  85-467-6564              495.95          1        495.95
713  72-590-6161              495.80          1        495.80
684  69-394-1424              494.97          1        494.97
585  59-261-4453              494.81          1        494.81

# Check how frequently each product category is purchased across the entire dataset.

In [21]:
# Count number of purchases for each category
category_frequency = data['Purchase_Category'].value_counts().reset_index(name='Total_Purchases')

# Rename columns
category_frequency.columns = ['Purchase_Category', 'Total_Purchases']

# View result
print(category_frequency)

            Purchase_Category  Total_Purchases
0                 Electronics               54
1           Sports & Outdoors               51
2       Jewelry & Accessories               50
3             Home Appliances               50
4                Toys & Games               47
5                 Animal Feed               44
6            Food & Beverages               44
7        Gardening & Outdoors               44
8             Software & Apps               43
9                   Packages)               43
10         Mobile Accessories               41
11                Health Care               41
12                  Furniture               41
13              Baby Products               41
14         Health Supplements               41
15                  Groceries               41
16            Office Supplies               38
17  Travel & Leisure (Flights               38
18               Luxury Goods               37
19                      Books               37
20                     Hotels               36
21              Arts & Crafts               34
22     Beauty & Personal Care               34
23                   Clothing               30

# Find out how much total revenue each gender contributes to the business.

In [22]:
# Group by Gender and sum Purchase_Amount
revenue_by_gender = data.groupby('Gender')['Purchase_Amount'].sum().reset_index(name='Total_Revenue')

# View result
print(revenue_by_gender)

        Gender  Total_Revenue
0      Agender        4631.77
1     Bigender        5169.39
2       Female      127503.71
3  Genderfluid        5018.80
4  Genderqueer        3354.21
5         Male      120160.69
6   Non-binary        4603.69
7   Polygender        4621.62

# Identify customers who haven't made any purchases in the last 90 days.

In [23]:
# Find last purchase date per customer
last_purchase = data.groupby('Customer_ID')['Time_of_Purchase'].max().reset_index(name='Last_Purchase_Date')

# Calculate days since last purchase
last_purchase['Days_Since_Last_Purchase'] = (current_date - last_purchase['Last_Purchase_Date']).dt.days

# Identify inactive customers (no purchase in last 90 days)
inactive_customers = last_purchase[last_purchase['Days_Since_Last_Purchase'] > 90]

# View inactive customers
print(inactive_customers)

     Customer_ID Last_Purchase_Date  Days_Since_Last_Purchase
0    00-107-4749         2024-09-19                       103
1    00-149-4481         2024-02-04                       331
2    00-264-3797         2024-04-17                       258
4    00-275-9990         2024-06-28                       186
5    00-285-9607         2024-05-28                       217
..           ...                ...                       ...
994  99-477-8256         2024-09-18                       104
995  99-509-4653         2024-06-17                       197
997  99-643-9845         2024-09-09                       113
998  99-771-9310         2024-03-07                       299
999  99-945-7193         2024-04-30                       245

[780 rows x 3 columns]

# Determine which product categories are most preferred by different age groups.

In [24]:
# Group by Age and Purchase_Category and count purchases
category_by_age = data.groupby(['Age', 'Purchase_Category']).size().reset_index(name='Total_Purchases')

# Sort result by Age and Total_Purchases
category_by_age_sorted = category_by_age.sort_values(['Age', 'Total_Purchases'], ascending=[True, False])

# View result
print(category_by_age_sorted)

     Age          Purchase_Category  Total_Purchases
2     18                Electronics                4
7     18            Home Appliances                3
6     18         Health Supplements                2
8     18         Mobile Accessories                2
0     18              Arts & Crafts                1
..   ...                        ...              ...
568   50            Home Appliances                1
569   50               Luxury Goods                1
570   50         Mobile Accessories                1
571   50            Office Supplies                1
576   50  Travel & Leisure (Flights                1

[577 rows x 3 columns]

# List customers who purchase the most frequently.

In [25]:
# Sort customers by Frequency
top_loyal_customers = frequency.sort_values('Frequency', ascending=False).head(10)

# View top loyal customers
print(top_loyal_customers)

     Customer_ID  Frequency
0    00-107-4749          1
671  67-937-6624          1
658  67-036-4295          1
659  67-037-2087          1
660  67-073-5578          1
661  67-159-7366          1
662  67-209-0990          1
663  67-323-7406          1
664  67-438-2378          1
665  67-593-9579          1

# Calculate how many days on average a customer waits between purchases.

In [26]:
# Sort by Customer_ID and Time_of_Purchase
data_sorted = data.sort_values(['Customer_ID', 'Time_of_Purchase'])

# Calculate difference in days between purchases per customer
data_sorted['Purchase_Interval'] = data_sorted.groupby('Customer_ID')['Time_of_Purchase'].diff().dt.days

# Calculate average interval per customer
average_interval = data_sorted.groupby('Customer_ID')['Purchase_Interval'].mean().reset_index(name='Average_Interval_Days')

# View result
print(average_interval)

     Customer_ID  Average_Interval_Days
0    00-107-4749                    NaN
1    00-149-4481                    NaN
2    00-264-3797                    NaN
3    00-265-0556                    NaN
4    00-275-9990                    NaN
..           ...                    ...
995  99-509-4653                    NaN
996  99-581-5577                    NaN
997  99-643-9845                    NaN
998  99-771-9310                    NaN
999  99-945-7193                    NaN

[1000 rows x 2 columns]

# Find what percentage of total revenue comes from each product category.

In [28]:
# Total revenue by category
revenue_by_category = data.groupby('Purchase_Category')['Purchase_Amount'].sum().reset_index(name='Total_Revenue')

# Calculate revenue share
total_revenue = revenue_by_category['Total_Revenue'].sum()
revenue_by_category['Revenue_Share_%'] = (revenue_by_category['Total_Revenue'] / total_revenue) * 100

# View result
print(revenue_by_category)

            Purchase_Category  Total_Revenue  Revenue_Share_%
0                 Animal Feed       11467.10         4.168886
1               Arts & Crafts        7529.92         2.737517
2               Baby Products       11172.52         4.061791
3      Beauty & Personal Care        7945.01         2.888424
4                       Books       11122.69         4.043675
5                    Clothing        8401.04         3.054214
6                 Electronics       13842.41         5.032435
7            Food & Beverages       12966.96         4.714163
8                   Furniture       10282.29         3.738146
9        Gardening & Outdoors       11782.28         4.283470
10                  Groceries       11467.65         4.169086
11                Health Care       12149.03         4.416803
12         Health Supplements       10908.31         3.965737
13            Home Appliances       13191.82         4.795911
14                     Hotels        8854.98         3.219245
15      Jewelry & Accessories       15139.36         5.503943
16               Luxury Goods       10247.00         3.725316
17         Mobile Accessories       11689.18         4.249624
18            Office Supplies       10835.01         3.939089
19                  Packages)       12731.16         4.628438
20            Software & Apps       13601.41         4.944819
21          Sports & Outdoors       14610.51         5.311679
22               Toys & Games       13536.46         4.921206
23  Travel & Leisure (Flights        9589.78         3.486383

# Customer Purchase Behavior Summary
#### Let’s get some useful business insights like:

#### Total purchases per customer

#### Average spending per purchase

#### Loyalty program behavior

#### How often customers buy

In [4]:
# Group by each customer and summarize their behavior
customer_behavior = data.groupby('Customer_ID').agg({
    'Purchase_Amount': ['count', 'mean', 'sum'],
    'Frequency_of_Purchase': 'mean',
    'Return_Rate': 'mean',
    'Customer_Loyalty_Program_Member': 'mean'
})

# Rename columns for easier reading
customer_behavior.columns = [
    'Total_Purchases', 
    'Average_Purchase_Value', 
    'Total_Spent',
    'Avg_Purchase_Frequency',
    'Avg_Return_Rate',
    'Loyalty_Member_Rate'
]

# View the first few rows
print(customer_behavior.head())

             Total_Purchases  Average_Purchase_Value  Total_Spent  \
Customer_ID
00-107-4749                1                  178.04       178.04
00-149-4481                1                  464.76       464.76
00-264-3797                1                  128.01       128.01
00-265-0556                1                   68.02        68.02
00-275-9990                1                  302.74       302.74

             Avg_Purchase_Frequency  Avg_Return_Rate  Loyalty_Member_Rate
Customer_ID
00-107-4749                     5.0              2.0                  1.0
00-149-4481                     2.0              0.0                  1.0
00-264-3797                     2.0              0.0                  0.0
00-265-0556                    10.0              1.0                  1.0
00-275-9990                    11.0              0.0                  1.0

# Top Spending Customers

In [5]:
# Top 10 customers by total spending
top_spenders = customer_behavior.sort_values(by='Total_Spent', ascending=False).head(10)
print(top_spenders)

             Total_Purchases  Average_Purchase_Value  Total_Spent  \
Customer_ID
60-470-3563                1                  498.33       498.33
13-848-5757                1                  498.23       498.23
15-663-7994                1                  497.80       497.80
86-257-9581                1                  497.76       497.76
15-421-1255                1                  497.75       497.75
72-830-1211                1                  496.11       496.11
85-467-6564                1                  495.95       495.95
72-590-6161                1                  495.80       495.80
69-394-1424                1                  494.97       494.97
59-261-4453                1                  494.81       494.81

             Avg_Purchase_Frequency  Avg_Return_Rate  Loyalty_Member_Rate
Customer_ID
60-470-3563                     2.0              1.0                  1.0
13-848-5757                    10.0              0.0                  0.0
15-663-7994                     2.0              1.0                  0.0
86-257-9581                     2.0              2.0                  1.0
15-421-1255                    11.0              2.0                  0.0
72-830-1211                     2.0              2.0                  0.0
85-467-6564                     5.0              1.0                  0.0
72-590-6161                     4.0              0.0                  1.0
69-394-1424                    12.0              1.0                  0.0
59-261-4453                     9.0              1.0                  1.0

#  Customers with High Return Rates

In [6]:
# Customers who return a lot (return rate > 0.5)
high_returners = customer_behavior[customer_behavior['Avg_Return_Rate'] > 0.5]
print(high_returners.sort_values(by='Avg_Return_Rate', ascending=False).head(10))

             Total_Purchases  Average_Purchase_Value  Total_Spent  \
Customer_ID
00-107-4749                1                  178.04       178.04
39-952-4459                1                  257.37       257.37
81-014-4502                1                  424.18       424.18
42-518-2602                1                  473.96       473.96
42-101-8525                1                  301.01       301.01
41-934-7739                1                  457.18       457.18
81-111-7832                1                  378.87       378.87
81-225-6647                1                  120.56       120.56
41-130-2570                1                  332.79       332.79
81-515-5823                1                  178.29       178.29

             Avg_Purchase_Frequency  Avg_Return_Rate  Loyalty_Member_Rate
Customer_ID
00-107-4749                     5.0              2.0                  1.0
39-952-4459                     7.0              2.0                  0.0
81-014-4502                     5.0              2.0                  1.0
42-518-2602                    12.0              2.0                  0.0
42-101-8525                     9.0              2.0                  1.0
41-934-7739                     7.0              2.0                  1.0
81-111-7832                     2.0              2.0                  0.0
81-225-6647                     5.0              2.0                  0.0
41-130-2570                    11.0              2.0                  0.0
81-515-5823                     4.0              2.0                  1.0

# Most Loyal Customers (based on Loyalty Program)

In [7]:
# Loyalty program members (high average loyalty rate)
loyal_customers = customer_behavior[customer_behavior['Loyalty_Member_Rate'] >= 0.8]
print(loyal_customers.head(10))

             Total_Purchases  Average_Purchase_Value  Total_Spent  \
Customer_ID
00-107-4749                1                  178.04       178.04
00-149-4481                1                  464.76       464.76
00-265-0556                1                   68.02        68.02
00-275-9990                1                  302.74       302.74
00-477-9449                1                  454.39       454.39
00-496-3067                1                  249.24       249.24
00-733-8770                1                   57.50        57.50
01-404-3425                1                  370.05       370.05
02-055-8248                1                  159.53       159.53
02-100-4320                1                   71.72        71.72

             Avg_Purchase_Frequency  Avg_Return_Rate  Loyalty_Member_Rate
Customer_ID
00-107-4749                     5.0              2.0                  1.0
00-149-4481                     2.0              0.0                  1.0
00-265-0556                    10.0              1.0                  1.0
00-275-9990                    11.0              0.0                  1.0
00-477-9449                    10.0              0.0                  1.0
00-496-3067                     8.0              2.0                  1.0
00-733-8770                    12.0              0.0                  1.0
01-404-3425                    11.0              1.0                  1.0
02-055-8248                    11.0              0.0                  1.0
02-100-4320                    12.0              2.0                  1.0

#  Customer Lifetime Value (CLTV) — Simple Version
#### Let’s add a basic Customer Lifetime Value metric (total spent × frequency):

In [8]:
# Create a simple CLTV metric
customer_behavior['Simple_CLTV'] = customer_behavior['Total_Spent'] * customer_behavior['Avg_Purchase_Frequency']
top_cltv = customer_behavior.sort_values(by='Simple_CLTV', ascending=False).head(10)
print(top_cltv)

             Total_Purchases  Average_Purchase_Value  Total_Spent  \
Customer_ID
69-394-1424                1                  494.97       494.97
82-671-7236                1                  494.34       494.34
90-144-9193                1                  486.40       486.40
42-518-2602                1                  473.96       473.96
83-427-3218                1                  467.32       467.32
25-286-8786                1                  461.81       461.81
47-266-2261                1                  457.39       457.39
15-421-1255                1                  497.75       497.75
37-361-8691                1                  489.81       489.81
74-033-1145                1                  489.66       489.66

             Avg_Purchase_Frequency  Avg_Return_Rate  Loyalty_Member_Rate  \
Customer_ID
69-394-1424                    12.0              1.0                  0.0
82-671-7236                    12.0              1.0                  0.0
90-144-9193                    12.0              0.0                  0.0
42-518-2602                    12.0              2.0                  0.0
83-427-3218                    12.0              2.0                  1.0
25-286-8786                    12.0              0.0                  0.0
47-266-2261                    12.0              1.0                  0.0
15-421-1255                    11.0              2.0                  0.0
37-361-8691                    11.0              0.0                  0.0
74-033-1145                    11.0              2.0                  0.0

             Simple_CLTV
Customer_ID
69-394-1424      5939.64
82-671-7236      5932.08
90-144-9193      5836.80
42-518-2602      5687.52
83-427-3218      5607.84
25-286-8786      5541.72
47-266-2261      5488.68
15-421-1255      5475.25
37-361-8691      5387.91
74-033-1145      5386.26